.mainsectionform{
	height: 88%;
    display: flex; /* wyśrodkowanie elementów w formularzu */
    flex-direction: column; 
    justify-content: center; /* wyśrodkowanie zawartości */
    align-items: center; /* wyśrodkowanie zawartości */
    min-height: 200px; 
}

